body {
    /* margin-left: 300px; */
    margin-top: 100px;
    /* height: 700px; */
    display: flex;
}

.first-row {
    display: flex;
}
.second-row {
    display: flex;
}
.third-row {
    display: flex;
}
.abnormal {
    margin-top: 30px;
}
.abnormal p{
    width: 50px;
    transform: rotate(-90deg);

}
.san {
    width: 100px;
    display: block;
    height: 100px;
    /* background-color: aqua; */
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    
}
.san p {
    display: block;
    font-size: x-large;
    font-weight: bolder;
    margin-top: 35px;
    margin-left: 40px;
}

.third-row-abnormal {
    margin-left: 60px;
}

.true-label {
    width: 200px;
    height: 200px;
    margin-left: 0px;
    transform: rotate(-90deg);
    justify-content: center;
}

.true-label p {
    margin-left: 50px;
    margin-top: 190px;
}

.prediction-label {
    margin-top: 225px;
    margin-left: -150px;
}